/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --letter-spacing-letter-spacing-letter-separation-0: 0px;
  --letter-spacing-letter-spacing-letter-separation-1: 0.4px;
  --letter-spacing-letter-spacing-letter-separation-2: 0px;
  --letter-spacing-core-letter-spacing-letter-separation-0: 0px;
  --letter-spacing-core-letter-spacing-letter-separation-1: 0.4px;
  --letter-spacing-core-letter-spacing-letter-separation-2: -0.25px;
}