/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --line-height-line-height-line-height-0: 12px;
  --line-height-line-height-line-height-1: 14px;
  --line-height-line-height-line-height-2: 16px;
  --line-height-line-height-line-height-3: 18px;
  --line-height-line-height-line-height-4: 20px;
  --line-height-line-height-line-height-5: 22px;
  --line-height-line-height-line-height-6: 26px;
  --line-height-line-height-line-height-7: 28px;
  --line-height-line-height-line-height-8: 36px;
  --line-height-line-height-line-height-9: 46px;
  --line-height-line-height-line-height-10: 51px;
  --line-height-core-font-size-line-height-line-height-10: 51px;
  --line-height-core-font-size-line-height-line-height-9: 46px;
  --line-height-core-font-size-line-height-line-height-8: 36px;
  --line-height-core-font-size-line-height-line-height-7: 28px;
  --line-height-core-font-size-line-height-line-height-6: 26px;
  --line-height-core-font-size-line-height-line-height-5: 22px;
  --line-height-core-font-size-line-height-line-height-4: 20px;
  --line-height-core-font-size-line-height-line-height-3: 18px;
  --line-height-core-font-size-line-height-line-height-2: 16px;
  --line-height-core-font-size-line-height-line-height-1: 14px;
  --line-height-core-font-size-line-height-line-height-0: 12px;
}